.content {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    &__current {
        border: 5px solid plum;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        border-radius: 4%;
    }

    &__sun {
        width: 10rem;
        height: 10rem;
        margin-top: 2rem;
    }

    &__data {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__city,
    &__time,
    &__temp,
    &__sky,
    &__day {
        font-size: 1.7rem;
        color: whitesmoke;
    }

    &__sky {
        margin-bottom: 2rem;
    }
}