.search-history {
    @media only screen and(max-width: 50rem) {
        display: none;
    }

    &__header {
        font-size: 2.2rem;
        color: whitesmoke;
        margin-bottom: 1rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        padding: 1rem 2rem;
        border: 2px solid plum;
        border-radius: 5px;
        font-size: 1.6rem;
        color: whitesmoke;
        text-align: center;
        margin-top: 5px;
        transition: .5s;

        &:hover {
            background-color: pink;
            cursor: pointer;
        }
    }

    &__empty {
        font-size: 2rem;
        color: blueviolet;
    }
}